*{
	margin:0;
	padding: 0;
}

nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: right;
}

.nav-link{
	flex:1;
	text-align: right;
}
nav img{
	width: 100px;
}
.nav-link ul li{
	list-style: none;
	display:inline-block;
	padding: 8px 10px;
	position: relative;
	padding-right: 40px;
}
.nav-link ul li a{
	color: #9A9A9A;
	text-decoration: none;
	font-size: 15px;
	

}
.info{
	display: flex;
	flex-direction: row;
	margin-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
}
.container{
	width: 950px;
	height: 100px;
	background-color: #000;
	margin: 20px auto;
	top: 100px;
	position: relative;
	 opacity:50% ; 
	 color: #fff;
}
.content{
	background-image: url(../images/photo-bandeau.jpg);
	background-size: cover;
	height: 300px;

}
.inf0{
	display: flex;
	flex-direction: row;

}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
	padding-left: 50px;


}
.text{
	padding-left: 10px;
}
.contact{
	background-color: white;
	width: 450px ;
	list-style: none;
	padding-left: 20px;
}
.button1{
	width: 200px;
	padding: 10px 0;
	text-align: center;
	margin: 20px 10px;
	
	font-weight: bold;
	border:2px solid #EF8829;
	background: #EF8829;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;

}
.button2{
	width: 200px;
	padding: 10px 0;
	text-align: center;
	margin: 20px 10px;

	font-weight: bold;
	border:2px solid #49AFCD;
	background: #49AFCD;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;

}
